Bioinformatics.Buisness.Proxies/Service References/ServiceRef/AntsService5.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Bioinformatics.Common.Others"
           elementFormDefault="qualified"
           targetNamespace="http://schemas.datacontract.org/2004/07/Bioinformatics.Common.Others"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:17492/AntsService.svc?xsd=xsd3"
             namespace="http://schemas.datacontract.org/2004/07/Bioinformatics.Buisness.Models" />
  <xs:complexType name="DataResultOfAntsConfigurationModelWgR0Z4vp">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="DataResultOf{0}{#}"
                     Namespace="http://schemas.datacontract.org/2004/07/Bioinformatics.Common.Others"
                     xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AntsConfigurationModel"
                            Namespace="http://schemas.datacontract.org/2004/07/Bioinformatics.Buisness.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Bioinformatics.Buisness.Models" minOccurs="0"
                      name="Data" nillable="true" type="q1:AntsConfigurationModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataResultOfAntsConfigurationModelWgR0Z4vp" nillable="true"
              type="tns:DataResultOfAntsConfigurationModelWgR0Z4vp" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successed" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
  <xs:complexType name="DataResultOfArrayOfProteinNodeWgR0Z4vp">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="DataResultOf{0}{#}"
                     Namespace="http://schemas.datacontract.org/2004/07/Bioinformatics.Common.Others"
                     xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfProteinNode"
                            Namespace="http://schemas.datacontract.org/2004/07/Bioinformatics.Buisness.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Bioinformatics.Buisness.Models" minOccurs="0"
                      name="Data" nillable="true" type="q2:ArrayOfProteinNode" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataResultOfArrayOfProteinNodeWgR0Z4vp" nillable="true"
              type="tns:DataResultOfArrayOfProteinNodeWgR0Z4vp" />
</xs:schema>